/*spinner*/
.container-spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0.9;
    animation: chargement 300ms 2s forwards;
    transform-origin: top;
}

.spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #73cbb5;
    border-bottom: 10px solid #9356dc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    animation: spin 7s linear;
}

/*animation spinner*/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        visibility: visible;
        opacity: 0.9;
    }

    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        visibility: visible;
        opacity: 0.9;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}

/*animation chargement du spinner*/
@keyframes chargement {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* pages internes */
/* animation des menu qui apparaisse progressivement */
.entree {
    animation: delay 1s both;
}

.plats {
    animation: delay 3s both;
}

.desserts {
    animation: delay 5s both;
}

@keyframes delay {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}