/* police */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* css général */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 25px;
}
h3{
    font-weight: bold;
}
.btn-violet{
    color: white;
    padding: 15px 20px;
    border-radius: 200px;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}

a{
    text-decoration: none;
    color: black;
    
}
/* header */

header{
    padding-top: 25px;
}
.logo{
    width: 156px;
    display: flex;
    margin: auto;
}



/* footer */
footer{
    width: 100%;
    display: flex;
    background-color: #353535;
}
.container-footer{
    padding-top: 25px;
    padding-bottom: 25px;
}
footer .logo{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    padding : 15px 0;
}
footer a{
    color: white;
}
footer i{
    color : white;
}
.footer-lien{
    padding-bottom: 15px;
    margin-left: 13px;
}
