/* police */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* css général */
*{
    box-sizing: border-box;
}
/*-----------------------HOME PAGE----------------------*/
body{
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 25px;
}
h3{
    font-weight: bold;
}
.btn-violet{
    color: white;
    padding: 15px 20px;
    border-radius: 200px;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}

a{
    text-decoration: none;
    color: black;
    
}
/* header */

header{
    padding-top: 25px;
}
.logo{
    width: 156px;
    display: flex;
    margin: auto;
}

/* -------------------Page ACCUEIL ---------------*/

/*spinner*/

.container-spinner{
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    visibility: hidden;
    animation: spin 2s linear;
}
.spinner{
    border: 10px solid #f3f3f3;
    border-top: 10px solid #73cbb5;
    border-bottom: 10px solid #9356dc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 11;
    animation: spin 2s linear;
}
/*animation spinner*/
@-webkit-keyframes  spin{
    0%{
        -webkit-transform: rotate(0deg);
        visibility: visible;
        opacity: 0.9;
    }
    100%{
        -webkit-transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
        visibility: visible;
        opacity: 0.9;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
  

/*localisation */
.localisation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
margin-top: 15px;
box-shadow: 1px 0px 10px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 1px 0px 10px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 1px 0px 10px 3px rgba(119, 119, 119, 0.75);
}
.localisation p{
    margin-left: 10px;
    color: #353535;
}
/*reservation */
.reservation{
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 45px;
}
.reservation p{
    color: grey;
    font-size: 20px;
    margin-bottom: 35px;
}
/*fonctionnement */
.btn-fonctionnement{
    display: flex;
    align-items: center;
    border-radius : 20px;
    background: #f6f6f6;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    margin: 20px 20px;
}

.btn-fonctionnement:hover{
    background-color: #f5edff;
}
.btn-fonctionnement i{
    color : #7E7E7E;
    margin: 0 25px;
}
.number{
    background-color: #9356dc;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 50%;
    transform: translate(-50%);
}
.fa-mobile-screen:hover{
    color :#9356dc;
}
.fa-list:hover{
    color :#9356dc;
}
.fa-store:hover{
    color :#9356dc;
}
/* restaurants */
.restaurants{
    width: 100%;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 45px;
}
.visuel-restaurants{
    width: 100%;
    height: 190px;
    position: relative;
}
.img-restaurants{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.new{
    position: absolute;
    background: #99e2d0;
    align-items: center;
    top: 25px;
    right: 25px;
    border-radius: 4px;
}
.new p{
    color: #108c6c;
    padding: 10px 20px;
    margin: 0;
    font-weight: bold;
}
.div-coeur{
    position: relative;
}
.coeur{
font-size: 30px;
margin-right: 20px;
z-index: 1;
}
.coeur-solid{
font-size: 30px;
margin-right: 20px;
background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
-webkit-background-clip: text ;
-webkit-text-fill-color: transparent;
opacity: 0;
z-index: 11;
position: absolute;
top: 0;
left: 0;
} 
.coeur-solid:hover{
opacity: 1;
transition: 0.5s;
}
.coeur:hover{
opacity: 0;
}
.vignette-restaurants{
    display: block;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    -webkit-box-shadow: 7px 6px 15px -3px rgb(138 136 138);
    -moz-box-shadow: 7px 6px 15px -3px rgba(138, 136, 138, 1);
    margin-bottom: 25px;
}
.vignette-restaurantsc h3{
    font-weight: bold;
}
.content-restaurants{
    background-color: white;
    display : flex;
    width : 100%;
    height : 90px;
    border-radius: 0 0 20px 20px;
    align-items: center;
    justify-content: space-between;
}
.title-restaurants{
    line-height: 5px;
    margin-left: 20px;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    background-color: #353535;
}
.container-footer{
    padding-top: 25px;
    padding-bottom: 25px;
}
footer .logo{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    padding : 15px 0;
}
footer a{
    color: white;
}
footer i{
    color : white;
}
.footer-lien{
    padding-bottom: 15px;
    margin-left: 13px;
}
/*-----------------------PAGE LA PALETTE DU GOUT----------------------*/
.p-menu{
    background-color: #f6f6f6;
}
.p-menu header{
    display: flex;
    text-align: center;
}
.p-menu h1{
font-size: 25px;
font-family: 'Shrikhand' , cursive;
margin-left: 12px;
margin-right: 12px;
text-align: center;
}
.menu{
    margin-left: 12px;
    margin-right: 12px;
}
.entete img{
    margin-top : 15px;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: -78px;
}
.titre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    position: relative;
    width: 100%;
    border-radius: 30px 30px 0 0;
}
.p-menu h2{
   font-family: Roboto sans-serif; 
   position: relative;
   text-transform: uppercase;
}
.p-menu h2:after{
    content: "";
    width: 50px;
    height: 3px;
    background: #99e2d0;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.vignette-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 6px;
}
.content-menu{
    line-height: 2px;
    margin-left:4px;
}

h4{
font-size: 20px;
font-weight: bold;
}
.content-menu p{
    color: #404040;
}
.entree, .plats, .desserts{
    margin-bottom: 30px;
    m
}
.commander{
    margin-top: 70px;
    margin-bottom : 70px;
    text-align : center;
}